<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/plugins/iCheck/flat/blue.css">
    <link rel="stylesheet" href="~/plugins/morris/morris.css">
    <link rel="stylesheet" href="~/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="~/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link href="~/Content/style-all.css" rel="stylesheet" />
    <script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
    <script src="~/Scripts/AngularJs/angular.min.js"></script>
    <script src="~/Scripts/AngularJs/angular-sanitize.min.js"></script>
    <script src="~/Scripts/AngularJs/angular-touch.min.js"></script>
    <script src="~/Scripts/AngularJs/angular-animate.min.js"></script>
    <script src="~/Scripts/AngularJs/csv.js"></script>
    <script src="~/Scripts/AngularJs/pdfmake.js"></script>
    <script src="~/Scripts/AngularJs/vfs_fonts.js"></script>
    <script src="~/Scripts/AngularJs/lodash.min.js"></script>
    <script src="~/Scripts/AngularJs/jszip.min.js"></script>
    <script src="~/Scripts/AngularJs/excel-builder.dist.js"></script>
    <script src="~/Scripts/AngularJs/ui-grid.js"></script>
    <link href="~/Scripts/AngularJs/ui-grid.css" rel="stylesheet" />
    <script src="~/Scripts/General/layout.js"></script>
    <link href="~/Content/font-style.css" rel="stylesheet" />
    <style>
        body {
            font-family: Open Sans,sans-serif !important;
        }
    </style>
</head>
<body class="hold-transition skin-blue-light sidebar-mini" ng-app="app" ng-controller="controller">
    <div class="wrapper">
        <header class="main-header">
            <a href="index2.html" class="logo">
                <span class="logo-lg"><span>Manage PMSBE</span></span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">
                                <span class="hidden-xs">Thoát</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/dist/img/user.png" />
                    </div>
                    <div class="pull-left info">
                        <p>Ngô Xuân Dương</p>
                        <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="header">Quản lý hệ thống</li>
                    <li><a href="/Home/Dashboard"><i class="fa fa-dashboard "></i> <span>Tổng quan</span></a></li>
                    <li class="treeview active">
                        <a href="#">
                            <i class="fa fa-folder"></i> <span>Quản lý khách sạn</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Hotel/List"><i class="fa fa-circle-o"></i> <span>Danh sách khách sạn</span></a></li>
                            <li><a href="/Hotel/Revenue"><i class="fa fa-circle-o"></i> <span>Doanh thu của khách sạn</span></a></li>
                            <li><a href="/Statistic/HotelCancelBooking"><i class="fa fa-circle-o"></i> <span>Khách hủy đặt phòng</span></a></li>
                        </ul>
                    </li>
                    <li class="treeview active">
                        <a href="#">
                            <i class="fa fa-gear"></i> <span>Báo cáo thống kê</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Statistic/Registration"><i class="fa fa-circle-o"></i> <span>ĐK sử dụng phần mềm</span></a></li>
                        </ul>
                    </li>
                    <li class="treeview active">
                        <a href="#">
                            <i class="fa fa-gear"></i> <span>Cài đặt</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu"></ul>
                    </li>
                    <li><a href="/Login/Logout"><i class="fa fa-sign-out"></i> <span>Thoát</span></a> </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>

    <div id="loader" style="display: none;"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    @*<script src="~/plugins/jQuery/jQuery-2.1.4.min.js"></script>*@
    <script src="~/Scripts/General/jquery-ui.min.js"></script>
    <script>$.widget.bridge('uibutton', $.ui.button);</script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/General/raphael-min.js"></script>
    <script src="~/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/plugins/knob/jquery.knob.js"></script>
    <script src="~/Scripts/General/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/plugins/fastclick/fastclick.min.js"></script>
    <script src="~/dist/js/app.min.js"></script>
    <script src="~/dist/js/demo.js"></script>
</body>
</html>
