
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutSetting.cshtml";
}
<script src="~/Areas/Admin/Content/js/Manage/index.js"></script>
<div class="uk-grid">
    <div class="uk-width-1-1 uk-text-center">
        <h4 style="font-weight:bold;color: #0c8954;">Select a section from the menu on the left</h4>
    </div>
</div>
