@media(min-device-width: 768px) {
    #step-mobile {
        display: none;
    }

    .icon-menu {
        display: none;
    }

    .term-mobile {
        display: none;
    }

    #btn-back {
        display: none;
    }

    .show-check {
        display: block;
    }

    #check-no-mobile {
        display: block;
    }

    #accordion h3 {
        display: none;
    }
}

@media(max-device-width: 767px) {
    .footer-page{
        display:none !important
    }
    .wrap-main-content {
        padding-bottom: 40px;
    }
    #check-no-mobile {
        display: none;
    }

    #wrap-step {
        display: none;
    }

    .term-mobile {
        display: block;
    }

    #btn-back {
        display: block;
    }

    .term-mobile div.wrap-info-term-hotel {
        background: #e5e5e5;
        border: 1px solid #e5e5e5;
        margin-top: 15px;
        font-size: 0.85em;
        width: 100%;
        float: left;
    }

    div.wrap-info-term-hotel div.ct-info-term-hotel {
        padding: 12px;
    }

    #step-mobile {
        display: block;
    }

    .w-content-select-date {
        display: none;
    }

    .site-width {
        width: 90%;
        max-width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        position: relative;
    }

    #main {
        width: 96%;
        overflow: hidden;
        padding-left: 2%;
        padding-right: 2%;
        margin: 0px auto;
    }

    div#header-avail div#left-header-avail {
        width: 100%;
    }

    .wrap-item-sidebar {
        width: 100%;
        float: none;
        font-size: 0.9em;
        margin: 0px auto;
    }

    #wrap-check-one {
        margin: 0px auto;
    }

    .sidebar-small div#wrap-check-one {
        width: 250px !important;
    }

    .icon-menu {
        display: block;
        width: 40px;
        position: absolute;
        height: 40px;
        right: 15px;
        top: 15px;
    }

        .icon-menu div {
            width: 35px;
            height: 5px;
            background-color: #fff;
            margin: 6px 0;
        }

    #main-nav ul.main-menu li {
        float: left;
        width: 100%;
        padding: 6px 0px;
        background: #333;
        border-top: 1px solid #d4d4d4;
        z-index: 9999;
        text-align: center;
    }

    #main-nav ul.main-menu {
        list-style: none;
        vertical-align: middle;
        height: auto;
        width: 100%;
    }

    #main-nav {
        display: none;
        width: 100%;
        float: none;
        position: absolute;
        background: #333;
        z-index: 9999;
        top: 79px;
        right: 0px;
    }

        #main-nav:before {
            display: none;
        }

    #page-header li.select > a:after {
        right: 12px;
        top: 20px;
    }


    #page-header li.select .dropdown {
        display: block;
        position: relative;
        top: 0;
        left: 0px;
        padding-top: 0px;
        z-index: 10;
    }

        #page-header li.select .dropdown ul.sub-menu {
            width: 100%;
            padding: 0;
            display: block;
            background: #121212;
            margin-top: 2px;
            float: left;
            border: none;
            border-top: none;
        }

    .footer-page span.text-footer {
        line-height: 20px;
    }

    #page-header {
        position: relative;
    }

    .show-search h3 {
        background: #131313;
        color: #fff;
    }

    .t-m-booking div.ct-info-a {
        padding: 0px 12px;
        padding-bottom: 10px;
    }

    .flex-messsages {
        width: 96%;
        padding: 6px 2%;
    }

    .w-content-flexible-date {
        margin: 10px 0px;
        width: 100%;
    }

    .title-content {
        font-size: 1em;
        font-weight: bold;
    }

    .info-payment-invoid {
        margin-top: 0px !important;
    }

        .info-payment-invoid li {
            margin-bottom: 0px !important;
            width: 100%;
            float: left;
        }

            .info-payment-invoid li label {
                margin-right: 15px !important;
                text-align: right !important;
                width: 30% !important;
                float: left !important;
            }

    .deposit-amount {
        width: 60% !important;
        float: left;
    }

    .info-card {
        margin-top: 10px !important;
    }

    .right-content-b {
        width: 100%;
        float: left;
    }

        .right-content-b div.wc-content-b {
            width: 100%;
        }
    /* Cho giao diện mới */
    .footer-page {
        margin-top: 0px;
        margin-bottom: -60px;
    }

    .row-item-room {
        display: table-cell;
        width: 100%;
        background: #dcdcdc;
        margin-bottom: 10px;
        float: left;
    }

    .wrap-list-rate-offer {
        background: none;
    }

    .wrap-table-title {
        display: none;
    }

    .img-room, .facility-room {
        width: 100%;
        float: left;
    }

        .img-room img {
            width: 100%;
            margin: 0px;
        }

    .facility-room {
        margin-left: 10px;
    }

        .facility-room h3 {
            color: #0082bb;
            font-weight: bold;
        }

    .promotion_room, .wrap-list-rate-offer div.w-item-rate-offer div.w-list-room, div#header-avail div#right-header-avail {
        width: 100%;
        border: none;
        float: left;
    }

    .price-item-room {
        width: 50%;
        float: left
    }

    .bt-item-room {
        width: 50%;
        float: right;
    }

    .wrap-list-rate-offer div.w-item-rate-offer div.w-list-room, div.w-list-room div.item-room, .price-item-room {
        border: none;
    }

    .change-search, .list-language {
        float: left !important;
        margin-right: 20px;
        margin-left: 0px;
    }

    .btn-select {
        width: 100%;
        position: fixed;
        bottom: 0px;
        background: #07c;
        height: 50px;
        z-index: 9999;
        left: 0px;
        text-align: initial;
    }

        .btn-select .bt-booknow {
            background: #fff;
            color: red;
            font-weight: bold;
            margin-left: 10px;
            width: auto;
            float: left;
            margin-right: 20px;
        }

    .fixed-wrapper, .fixed-detail {
        position: relative;
        width: 100%;
        float: left;
    }

        .fixed-wrapper .color-red {
            display: none;
        }

    .none-mobile {
        display: none;
    }

    .detail-info-room .wrap-gallery, .detail-info-room .w-info-detail-room {
        width: 100%;
        float: left;
    }

    .total-price {
        color: #ffffff !important;
        line-height: 50px;
    }

    .ui-dialog {
        max-width: 100% !important;
    }
}

@media (min-width: 550px) {
    .t-m-booking div.ct-info-b {
        width: 46%;
    }
}
