
<ul class="list-language list-curentcy">
    <li>
        <div class="language-current">
            <div ng-repeat="item in currencies">
                <a ng-if="currency == item.CurrencyCode" ng-cloak> {{item.Key}} {{item.CurrencyCode}}</a>
            </div>
        </div>
        <ul class="sublist-lang">
            <li ng-repeat="item in currencies">
                <a ng-click="changeCurrency(item.CurrencyCode)"> {{item.Key}} {{item.CurrencyCode}}</a>
            </li>
        </ul>
    </li>
</ul>