.box-type-promotion {
    text-align: center;
    border: 1px solid #0896ff;
    margin: 0 15px;
    min-height: 200px;
    cursor: pointer;
    padding: 20px 12px 15px 12px;
}


    .box-type-promotion > div > span {
        display: block
    }

    .box-type-promotion:hover {
        border: 2px solid #0896ff;
        min-height: 198px;
    }

.box-promotion-choose {
    background: #eef6fe;
    border: 2px solid #0896ff;
    min-height: 198px;
}

.name-promotion {
    color: #003580;
    font-size: 20px;
    line-height: 20px;
    margin: 20px auto 10px;
}

.note-promotion {
    color: #767676;
    font-size: 13.5px;
}

.icon-type-promotion > i {
    width: 100px;
    height: 100px;
    font-size: 45px;
    color: white;
    border-radius: 50%;
    line-height: 101px;
}

.basic-deal > i {
    background: #FCDC1F;
}

.last-minute > i {
    background: #369fda;
}

.early-booker > i {
    background: #9d7c56;
}

.free-nights > i {
    background: #d07930;
}

.uk-comment-body {
    padding-left: 50px
}

    .uk-comment-body > div > .uk-grid {
        margin-left: 0;
    }

        .uk-comment-body > div > .uk-grid > div {
            padding-left: 0
        }

            .uk-comment-body > div > .uk-grid > div > div {
                margin: 0 15px;
            }

.box-day-of-week > ul {
    margin: 0
}

    .box-day-of-week > ul li {
        margin-bottom: 8px;
    }
