
@{
    ViewBag.Title = "Doanh thu khách sạn sử dụng PMS";
}
<script src="~/Scripts/Statistic/revenue-pms.js"></script>
<section class="content-header">
    <h1>
        Doanh thu khách sạn sử dụng PMS
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</section>