

.md-card-list-wrapper, .md-card-list-wrapper *, .md-card-list-wrapper :after, .md-card-list-wrapper :before, .md-card-list-wrapper:after, .md-card-list-wrapper:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

    .md-card-list-wrapper .md-card-list-header {
        position: absolute;
        top: -24px;
        left: 0
    }

    .md-card-list-wrapper .md-card-list {
        margin: 48px 0 0 0;
        position: relative
    }

        .md-card-list-wrapper .md-card-list:first-child {
            margin-top: 24px
        }

        .md-card-list-wrapper .md-card-list > ul {
            margin: 0;
            padding: 0;
            list-style: none
        }

            .md-card-list-wrapper .md-card-list > ul > li {
                padding: 0;
                margin: 0;
                list-style: none
            }

            .md-card-list-wrapper .md-card-list > ul > li {
                min-height: 34px;
                padding: 8px 16px;
                font-size: 13px;
                -webkit-transition: background 150ms,padding .2s;
                transition: background 150ms,padding .2s;
                background: #fff;
                -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
                box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
            }

                .md-card-list-wrapper .md-card-list > ul > li:after, .md-card-list-wrapper .md-card-list > ul > li:before {
                    content: " ";
                    display: table
                }

                .md-card-list-wrapper .md-card-list > ul > li:after {
                    clear: both
                }

                .md-card-list-wrapper .md-card-list > ul > li:after, .md-card-list-wrapper .md-card-list > ul > li:before {
                    content: " ";
                    display: table
                }

                .md-card-list-wrapper .md-card-list > ul > li:after {
                    clear: both
                }

                .md-card-list-wrapper .md-card-list > ul > li.item-shown {
                    background: #fff;
                    padding: 8px 36px
                }

@media only screen and (max-width: 767px) {
    .md-card-list-wrapper .md-card-list > ul > li.item-shown .md-card-list-item-subject {
        clear: both;
        float: none;
        padding-top: 16px
    }

        .md-card-list-wrapper .md-card-list > ul > li.item-shown .md-card-list-item-subject > span {
            white-space: normal
        }
}

.md-card-list-wrapper .md-card-list > ul > li.item-shown .md-card-list-item-sender {
    width: auto;
    overflow: hidden
}

.md-card-list-wrapper .md-card-list > ul > li.item-shown.md-card-list-item-selected {
    position: relative
}

    .md-card-list-wrapper .md-card-list > ul > li.item-shown.md-card-list-item-selected:before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        bottom: 0;
        width: 8px;
        background: #e3f2fd
    }

.md-card-list-wrapper .md-card-list .md-card-list-item-avatar-wrapper, .md-card-list-wrapper .md-card-list .md-card-list-item-select, .md-card-list-wrapper .md-card-list .md-card-list-item-sender {
    float: left
}

.md-card-list-wrapper .md-card-list .md-card-list-item-select {
    padding: 6px 8px 0 0
}

.md-card-list-wrapper .md-card-list .md-card-list-item-avatar-wrapper, .md-card-list-wrapper .md-card-list .md-card-list-item-date, .md-card-list-wrapper .md-card-list .md-card-list-item-sender, .md-card-list-wrapper .md-card-list .md-card-list-item-subject {
    padding: 0 8px
}

    .md-card-list-wrapper .md-card-list .md-card-list-item-avatar-wrapper .md-card-list-item-avatar {
        background: #757575;
        color: #fff;
        width: 34px;
        border-radius: 50%;
        display: block
    }

    .md-card-list-wrapper .md-card-list .md-card-list-item-avatar-wrapper .md-card-list-item-avatar-large {
        width: 82px;
        border-radius: 50%
    }

    .md-card-list-wrapper .md-card-list .md-card-list-item-avatar-wrapper span.md-card-list-item-avatar {
        line-height: 34px;
        text-transform: uppercase;
        text-align: center
    }

.md-card-list-wrapper .md-card-list .md-card-list-item-sender {
    width: 220px;
    line-height: 34px
}

    .md-card-list-wrapper .md-card-list .md-card-list-item-sender > span {
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        overflow: hidden;
        width: 100%
    }

@media only screen and (max-width: 1219px) {
    .md-card-list-wrapper .md-card-list .md-card-list-item-sender {
        display: none
    }
}

.md-card-list-wrapper .md-card-list .md-card-list-item-subject {
    overflow: hidden;
    font-weight: 500
}

    .md-card-list-wrapper .md-card-list .md-card-list-item-subject > span {
        line-height: 34px;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        overflow: hidden;
        width: 100%
    }

    .md-card-list-wrapper .md-card-list .md-card-list-item-subject .md-card-list-item-sender-small {
        display: none
    }

@media only screen and (max-width: 1219px) {
    .md-card-list-wrapper .md-card-list .md-card-list-item-subject .md-card-list-item-sender-small {
        display: block
    }

        .md-card-list-wrapper .md-card-list .md-card-list-item-subject .md-card-list-item-sender-small + span {
            line-height: inherit
        }
}

.md-card-list-wrapper .md-card-list .md-card-list-item-subject .md-card-list-item-sender-small > span {
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-size: 12px;
    color: #999
}

.md-card-list-wrapper .md-card-list .md-card-list-item-date {
    line-height: 34px;
    float: right;
    color: #999
}

@media only screen and (max-width: 479px) {
    .md-card-list-wrapper .md-card-list .md-card-list-item-date {
        display: none
    }
}

.md-card-list-wrapper .md-card-list .md-card-list-item-menu {
    float: right;
    margin: 0 0 0 8px;
    position: relative
}

    .md-card-list-wrapper .md-card-list .md-card-list-item-menu .uk-dropdown .material-icons {
        margin-right: 8px
    }

.md-card-list-wrapper .md-card-list .md-card-list-item-content-wrapper {
    display: none;
    clear: both;
    opacity: 0
}

.md-card-list-wrapper .md-card-list .md-card-list-item-content {
    padding: 16px 16px 0 0;
    max-height: 360px;
    overflow-x: hidden;
    margin: 0 0 40px;
    top: 20px;
    position: relative;
    font-size: 14px
}

    .md-card-list-wrapper .md-card-list .md-card-list-item-content + .md-card-list-item-reply {
        padding-top: 10px
    }

.md-card-list-wrapper .md-card-list .md-card-list-item-reply {
    padding: 16px 0
}

.md-card-list-wrapper .md-card-list .md-card-list-item-selected {
    background: #e3f2fd
}


.icheckbox_md, .iradio_md {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
