body {
    background: white;
    padding-top: 80px;
    letter-spacing: 0.1px;
    font-size: 13px;
}

body, .md-btn {
    font-family: Open Sans,sans-serif !important;
}

.user_action_icon .uk-badge {
    position: absolute;
    left: 0;
    top: 3px;
}

.item-paid span {
    text-decoration: line-through;
}

#menu_top > li[non-icon-drop] > a:after {
    display: none !important
}

#menu_top > li[non-icon-drop] > a {
    padding-right: 15px;
}

#top_bar {
    height: auto;
    top: 40px;
    background: #F5F5F5;
    padding: 0 5px;
    box-shadow: 0 1px 0px rgba(0,0,0,.16), 0 1px 0px rgba(0,0,0,.23);
    border-bottom: 1px solid #3b7b3a;
}


.sidebar_secondary_active #header_main .sSwitch.sSwitch_right .sSwitchIcon:before {
    transform: rotate(-35deg);
    transform-origin: right bottom;
}

#sidebar_secondary {
    top: 40px !important;
}

.material-icons {
    color: #504949;
}

[class*=uk-icon-] {
    color: #504949;
}

#menu_top > li[data-uk-dropdown] > .uk-dropdown {
    padding: 10px 20px;
}

#menu_top > li > a {
    padding: 0 8px;
    color: #504949;
    min-width: 45px;
}

    #menu_top > li > a > span {
        margin: 0;
        font-size: 14px;
    }

#left_menu ul li {
    padding: 3px 20px;
}

    #left_menu ul li:hover {
        background: #e7e7e7;
    }

    #left_menu ul li:first-child:hover {
        background: none;
    }

.menu-clicked {
    background: #1980c7 !IMPORTANT
}

    .menu-clicked > a {
        color: white !important
    }

@media only screen and (max-width: 1044px) and (min-width: 768px) {
    .top_bar_active {
        padding-top: 120px;
    }
}
@media (max-width: 769px) {
    .visible-medium-small {
        display: block
    }

    .visible-medium {
        display: none
    }

    #left_menu {
        width: 100%
    }

    #right_content {
        clear: both;
        width: 100%
    }
}

@media (min-width: 768px) {
    .visible-medium-small {
        display: none
    }

    .visible-medium {
        display: block
    }

    #left_menu {
        float: left;
        width: 230px;
        border-right: 1px solid #E1E1E1
    }

    #right_content {
        margin-left: 230px;
    }
}

.uk-nav-dropdown > li > a {
    color: #444;
}

.uk-nav > li > a {
    padding: 5px 15px;
    font-size: 14px;
}

.uk-margin-non {
    margin: 0 !important;
}

.uk-padding-non {
    padding: 0 !important;
}

.uk-nav-header:not(:first-child) {
    margin-top: 0px;
}

.notify {
    right: -100px !important;
    left: auto !important;
}

#page_content_inner {
    padding: 0;
}

#left_menu {
    background: whitesmoke;
}

.border-special {
    border-bottom: 1px solid #e7e7e7;
}

#header_main {
    height: 40px;
}

.main_logo_top > a {
    line-height: 24px;
}

.uk-navbar-nav > li > a {
    margin-top: -5px;
}

#header_main .uk-navbar .uk-navbar-nav > li > a {
    height: 45px;
}

.main_logo_top {
    line-height: 40px;
}

.uk-grid + .uk-grid, .uk-grid-margin, .uk-grid > * > .uk-panel + .uk-panel {
    margin-top: 0;
}

.uk-nav-setting > li > a {
    padding-left: 0;
    color: #0070bb;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 0;
}

.uk-nav-setting > li > b {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;
    display: block;
}


#right_content > div {
    padding: 10px 20px;
}

.ui-grid-cell-contents {
    font-size: 13px;
}

.box-control a {
    margin: 0 10px;
}

.box-grid {
    height: 400px
}

    .box-grid input {
        padding: 0 0 0 10px !important;
    }

.md-btn {
    text-transform: capitalize;
}

.md-btn-new, .md-btn-new.uk-active, .md-btn-new:active, .md-btn-new:focus, .md-btn-new:hover {
    background: #3abb79;
    color: white;
}

.md-btn-default, .md-btn-default.uk-active, .md-btn-default:active, .md-btn-default:focus, .md-btn-default:hover {
    background: #F0F0F0;
    color: black;
}

.k-block, .k-draghandle, .k-grid-header, .k-grouping-header, .k-header, .k-pager-wrap, .k-treemap-tile, html .km-pane-wrapper .k-header {
    background-color: #546087;
}

.k-window-content {
    padding: 40px !important;
}

textarea {
    resize: none !important
}


.box-language {
    width: 120px !important;
    float: right;
}

.star-red {
    color: red
}

.uk-close:after {
    color: #fff;
}

.heading_a {
    background: #1079c1;
    color: white;
    padding: 10px 15px;
}

.uk-modal-dialog > div {
    padding: 25px 15px 15px;
}

.uk-modal-dialog > .uk-close:first-child {
    top: 12px;
    right: 15px;
}

.uk-modal-dialog > div .uk-close:after, #kUI_window > div .uk-close:after, #kUI_window2 > div .uk-close:after {
    display: none
}

.uk-modal-dialog {
    padding: 0;
    top: 0 !important
}

.switchery {
    margin: 10px 5px;
}

#img-logo2 {
    display: block;
    width: 60px;
    height: 80px;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
}

#img-logo, #img-logo-clone {
    display: block;
    width: 100%;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
}

#Logo, #Logo-clone {
    display: none
}

.error {
    color: red;
    display: none;
    padding-top: 5px;
}

.box-image img {
    max-width: 35px;
}

.uk-badge-active {
    color: #0aa153;
    font-weight: bold;
}

.uk-badge-looked {
    color: #df1e1e;
    font-weight: bold;
}

.uk-badge-used {
    color: #ffa000;
    font-weight: bold;
}

.uk-notify {
    width: 300px;
    z-index: 10006;
}

#loader {
    border: 5px solid #d1d8f0;
    border-radius: 50%;
    border-top: 5px solid #1166a0;
    border-bottom: 5px solid #1166a0;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    z-index: 999999;
    top: 40%;
    left: 50%;
    position: fixed;
    display: none;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

input::-webkit-input-placeholder {
    font-size: 12px;
}

textarea {
    overflow-y: auto !IMPORTANT;
}

.main_logo_top > a > span {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 9px;
    left: 82px;
}

.icon-check {
    color: #0db05d;
}

.icon-uncheck {
    color: #161616;
    font-weight: bold;
}

.upload2 {
    width: 100% !important;
    border: 1px solid #f0f0f0;
    padding: 8px 5px;
    margin-bottom: 10px;
}

.box-gallery > div {
    position: relative;
}

.box-gallery img {
    width: 100%;
    height: 80px;
    border: 1px solid #d1d1d1;
    padding: 1px;
}

.box-gallery span {
    position: absolute;
    top: -10px;
    right: -10px;
    border: 1px solid #dfd8d6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #fc6d42;
    background: white;
}

.grid-box-gallery {
    margin-left: 0 !important;
}

    .grid-box-gallery > div {
        padding: 0 10px !important;
        margin-bottom: 10px;
    }

input[type=checkbox], input[type=radio] {
    padding: 2px;
    cursor: pointer;
    left: 0;
    top: 20px;
}

.show-item {
    display: block !important
}

.hide-item {
    display: none !important
}

.header-item {
    color: #105f96;
    font-weight: 600;
    font-size: 14px;
}

label, label span {
    cursor: pointer
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    font-size: 16px
}

#cke_1_contents, #cke_3_contents, #cke_2_contents {
    /*height: 400px !important*/
}

#kUI_window, #kUI_window2 {
    padding-top: 20px !important
}

.icon-left-list {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    float: left;
    border: 1px solid #f0f0f0;
    background: #0896FF;
    text-align: center;
    line-height: 45px;
}

    .icon-left-list > i {
        color: white;
        font-size: 20px;
    }

ul li {
    list-style: none
}

.title-header > h3 {
    display: inline;
    margin-right: 20px;
}

.uk-comment-title {
    font-weight: 600
}

.click-menu-top {
    background: #0e71b0;
}

    .click-menu-top > a, .click-menu-top i {
        color: white !important;
    }

        .click-menu-top > a:after {
            color: white !important;
        }

.lable-config {
    color: #727272;
    font-size: 12px;
    display: block;
    padding-left: 5px;
}

.type-guest {
    color: red;
    font-size: 14px;
    padding-left: 5px;
    padding-top: 6px;
    display: block;
    font-weight: bold;
}

.md-btn-new > i {
    color: white;
    margin-right: 6px
}

textarea:disabled, input:not([type]):disabled, input[type="color" i]:disabled, input[type="date" i]:disabled, input[type="datetime" i]:disabled, input[type="datetime-local" i]:disabled, input[type="email" i]:disabled, input[type="month" i]:disabled, input[type="password" i]:disabled, input[type="number" i]:disabled, input[type="search" i]:disabled, input[type="tel" i]:disabled, input[type="text" i]:disabled, input[type="time" i]:disabled, input[type="url" i]:disabled, input[type="week" i]:disabled {
    background-color: rgb(235, 235, 228) !important;
    cursor: no-drop !important;
}

.title-box-small-accomodation {
    background: #3d8fc5;
    color: white;
    padding: 5px 0 5px 10px;
}

.uk-text-end {
    color: #9f9f9f !important
}

.md-btn-booking-new {
    background: #3abb79 !important;
    color: white !important;
}

.md-btn-booking-inhouse {
    background: #358ec9 !important;
    color: white !important;
}

.md-btn-booking-checkout {
    background: #9f9f9f !important;
    color: white !important;
}

.md-btn-booking-noshow {
    background: #FFA000 !important;
    color: white !important;
}

.md-btn-booking-cancel {
    background: #E5396C !important;
    color: white !important;
}

.title-booking-new {
    color: #3abb79 !important;
    font-weight: bold
}

.title-booking-inhouse {
    color: #358ec9 !important;
    font-weight: bold
}

.title-booking-checkout {
    color: #9f9f9f !important;
    font-weight: bold
}

.title-booking-noshow {
    color: #FFA000 !important;
    font-weight: bold
}

.title-booking-cancel {
    color: #E5396C !important;
    font-weight: bold
}

.box-service-category:hover {
    cursor: pointer;
}

.box-service-category img {
    width: 100%;
    height: 70px;
    border: 1px solid #d4d4d4;
    padding: 2px;
}

.box-service-category p {
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
}

.box-service-category > div {
    padding: 2px;
}

.grid-service {
    margin-left: -15px;
}

    .grid-service > div {
        padding-left: 15px;
    }


.selected-category {
    border: 1px solid #a5a5a5;
}

.close-service {
    color: red;
    font-size: 16px;
    cursor: pointer;
}

.title-box-accomodation {
    margin-bottom: 0;
    background: #3d8fc5;
    color: white;
    padding: 10px;
}

table th {
    vertical-align: middle !important
}

.box-edit-booking {
    padding: 10px 40px 20px 40px;
    background: #373737;
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0;
}

.box-schedule-price table {
    border-collapse: collapse;
}

.box-schedule-price thead tr {
    background: linear-gradient(rgb(246, 247, 248), rgb(215, 215, 215)) !important;
}

    .box-schedule-price thead tr th {
        text-align: center;
        border: 1px solid #d3d3d3;
        padding: 5px;
        vertical-align: middle;
    }

    .box-schedule-price thead tr p {
        margin: 0;
        font-size: 13px;
        font-weight: 600;
    }

.box-schedule-price td {
    border: 1px solid #d3d3d3;
    text-align: center;
    vertical-align: middle;
}

.box-step {
    padding-right: 12px;
    margin-bottom: 25px;
    display: inline-block;
    height: 40px;
}

    .box-step > span:first-child {
        background: #cacdcf;
        color: white;
        border-radius: 50%;
        padding: 10px 16px;
        cursor: pointer;
        margin-right: 10px;
    }

    .box-step > span:last-of-type {
        color: black;
        cursor: pointer;
    }

.box-step-choose > span:first-child {
    background: #3d8fc5
}

.box-step-choose > span:last-of-type {
    font-weight: 600
}

.box-select-room td {
    vertical-align: middle !important;
    border-right: 1px solid #d4d4d4;
}

    .box-select-room td:last-of-type {
        border-right: none
    }

.box-select-room thead td {
    border: 1px solid #e0e0e0;
}

.box-select-room thead tr {
    background: linear-gradient(rgb(246, 247, 248), rgb(215, 215, 215)) !important;
}

.box-select-room td p {
    margin: 0;
}

span {
    cursor: pointer
}

.md-input-default {
    width: 40px !important;
    display: inline-block !important;
}

.md-input-md-default {
    width: 70px !important;
    display: inline-block !important;
}

.md-input-sm-default {
    width: 50px !important;
    display: inline-block !important;
}

.icon-close-accom {
    float: right;
    border: 1px solid #d1cdcd;
    border-radius: 50%;
    padding: 4px;
    width: 12px;
    height: 10px;
    font-size: 10px;
    text-align: center;
    background: white;
    cursor: pointer;
    margin-right: 15px;
}

.uk-notify .icon-result {
    color: white !important
}

.uk-notify .icon-add-close {
    float: right;
    color: white !important
}

.box-not-render-span span {
    display: none !important
}

.box-div-step {
    padding: 24px 10px 0 10px;
    border: 1px solid #f0f0f0;
    background: #fefefe;
}

.box-reservation th, .box-reservation td, .uk-modal td, .uk-modal th {
    border-right: 1px solid #D4D4D4;
}

    .box-reservation th:last-of-type, .box-reservation td:last-of-type, .uk-modal td:last-of-type, .uk-modal th:last-of-type {
        border-right: none;
    }
/*Room*/
.room {
    border: 1px solid #c7cdd4;
    box-shadow: 0 5px 9px #e2e6ea, 0 3px 8px #e2dcdc;
}

.room-name {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
}

.room-type {
    font-size: 15px;
    color: #0a5bab;
    font-weight: 500;
    margin: 5px 0;
}

.floor {
    margin-bottom: 0 !IMPORTANT;
    font-weight: normal;
    font-size: 12px;
    color: #09459e;
    margin: 0;
}

.ulcondition {
    padding: 0
}

    .ulcondition li {
        display: inline-block;
        border-radius: 16px;
        border: 1px solid #e0e0e0;
        float: left;
        margin: 0 4px 8px 0;
        padding: 4px 8px 4px 4px;
    }

        .ulcondition li .spancondition {
            border: 0;
            border-radius: 50%;
            float: left;
            height: 24px;
            margin-right: 4px;
            width: 24px;
            margin-left: 1px;
        }

        .ulcondition li span:last-of-type {
            padding: 2px 4px 0 4px;
            display: inline-block;
        }

tfoot td, tfoot th {
    border-top: none !IMPORTANT
}
.support_helper {
    font-size: 12px;
    color: #052854;
}
