
@{
    ViewBag.Title = "Thông báo gia hạn phần mềm";
}
<script src="~/Scripts/Settting/renewal-registration.js"></script>
<section class="content-header">
    <h1>
        Thông báo gia hạn phần mềm
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-10 col-md-9">
            <div class="form-group has-feedback">
                <label>Nội dung thông báo</label>
                <span> <br><b>{date}</b> : Ngày hết hạn sử dụng phần mềm</span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3">
            <div class="form-group has-feedback">
                <select class="form-control" ng-change="GetData()" ng-model="languageId" convert-to-number>
                    <option value="{{item.LanguageId}}" ng-repeat="item in language">{{item.Title}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <textarea ng-model="data.Template" class="form-control" rows="3"></textarea>
        </div>
        <div class="col-md-12 text-right" style="margin-top:10px">
            <button class="btn btn-primary" ng-click="Put()">Cập nhật</button>
        </div>
    </div>
</section>